@model Order

<a class="text-muted text-decoration-none" asp-controller="ShoppingCart" asp-action="Index">
    <i class="bi bi-arrow-left"></i>&nbsp;Back To Cart
</a>
<h1 class="text-center mt-3">You're Just One Step Away From Your Delicious Cakes!</h1>
<form method="post" asp-controller="Order" asp-action="Checkout" role="form">
    <div class="row mt-lg-4">
        <div class="col-12">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
            
        <div class="col-12 mt-3">
            <label asp-for="AddressLine1" class="form-label"></label>
            <input asp-for="AddressLine1" class="form-control"/>
            <span asp-validation-for="AddressLine1" class="text-danger"></span>
        </div>
            
        <div class="col-12 mt-3">
            <label asp-for="AddressLine2" class="form-label"></label>
            <input asp-for="AddressLine2" class="form-control" />
            <span asp-validation-for="AddressLine2" class="text-danger"></span>
        </div>
            
        <div class="col-6 mt-3">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
            
        <div class="col-6 mt-3">
            <label asp-for="State" class="form-label"></label>
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
            
        <div class="col-6 mt-3">
            <label asp-for="ZipCode" class="form-label"></label>
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
            
        <div class="col-6 mt-3">
            <label asp-for="Country" class="form-label"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
            
        <div class="col-12 mt-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
            
        <div class="col-12 mt-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="container mt-5 mb-lg-5">
            <input type="submit" asp-for="PhoneNumber" class="btn btn-success w-100" value="Complete Order"/>
        </div>
    </div>
    
</form>